@import "../../styles/index.scss";

.blocks {
  width: 100%;
  height: auto;
  background-color: #2b7df7;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;

  &__bg {
    background: url("../../img/background.jpg");
    background-size: cover;
    opacity: 0.3;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 10px;
    @include mq-tablet {
      padding: 157px 10px;
      width: 768px;
      justify-content: space-between;
    }
    @include mq-desktop {
      width: 1240px;
      padding: 157px 0;
    }
  }

  &__quantity {
    width: 90px;
    height: 20px;
    margin-left: 10px;
  }

  &__select {
    display: flex;
    padding: 30px 0;
  }

  &__text {
    padding: 7px 0;
  }

  &__table {
    display: grid;
    height: auto;
    background-color: white;
    z-index: 2;
    padding: 20px;
    margin: 0 auto;
    border-radius: 4px;
    max-width: 750px;
    @include mq-desktop {
      padding: 16px 31px;
      margin: 0;
    }
  }

  &__title {
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    color: #fff;
    @include mq-tablet {
      font-size: 54px;
    }
    @include mq-desktop {
      text-align: left;
      margin: 25px 0;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    @include mq-tablet {
      font-size: 32px;
      margin: 14px 0 50px;
    }
    @include mq-desktop {
      text-align: left;
      margin: 0;
    }
  }

  &__description {
    z-index: 3;
    margin: 0 auto;
    padding-bottom: 40px;
    @include mq-desktop {
      width: 385px;
      margin: 0;
    }
  }

  &__logo {
    @include mq-desktop {
      display: block;
      background: url("../../img/logo.svg");
      background-repeat: no-repeat;
      width: 116px;
      height: 132px;
    }
    display: none;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
  }
}

.line {
  width: 100%;
  height: 36px;
  background-image: url(../../img/orange-border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}