.container {
  width: 100%;
  padding: 30px;
  background-color: #2b7df7;
}

.nav {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  @media (min-width: 768px) {
    width: 710px;
  }
  @media (min-width: 1240px) {
    width: 1200px;
  }

  &__items {
    display: flex;
    @media (min-width: 768px) {
      width: 30%;
    }
  }

  &__logo {
    width: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    @media (min-width: 768px) {
      width: 120px;
    }
  }

  &__link {
    color: white;
    width: 100px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    border-radius: 3px;
    text-decoration: none;

    @media (min-width: 768px) {
      width: 200px;
      height: 60px;
    }
    &:hover {
      background-color: #ffbf2b;
      cursor: pointer;
    }
  }
}

.logo {
  margin-top: 8px;
  background-image: url("../../img/headerLogo.svg");
  background-repeat: no-repeat;
  color: white;
  width: 26px;
  height: 37px;
}

.footer {
  width: 100%;
  margin: 40px auto 0;
  color: white;
  display: grid;
  @media (min-width: 768px) {
    width: 710px;
    grid-template-columns: 375px 10fr 1fr;
  }
  @media (min-width: 1240px) {
    width: 1200px;
  }

  &__links {
    list-style: none;
  }

  &__list {
    padding: 5px 0;
  }

  &__item {
    padding: 5px 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  &__copyright {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
