.table {
  overflow: auto;
  text-align: left;

  &__header {
    font-size: 16px;
    font-weight: 400;
  }
}

td {
  text-align: left;
  padding: 8px 20px 8px 0;
  border-top: 1px solid #f1f0f0;
  font-size: 16px;
  font-weight: 400;
}
