.container {
  width: 320px;
  margin: 0 auto;
  padding: 60px 0;
  @media (min-width: 768px) {
    width: 768px;
    padding: 100px 0;
  }
  @media (min-width: 1240px) {
    width: 1240px;
  }
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 35px;
  @media (min-width: 768px) {
    font-size: 40px;
    text-align: left;
    margin-bottom: 50px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 1240px) {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.left {
  order: 2;
  @media (min-width: 768px) {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    order: 1;
  }
  @media (min-width: 1240px) {
    width: calc((100%-706px) / 2);
    order: 1;
  }
}

.right {
  order: 3;
  @media (min-width: 768px) {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }
  @media (min-width: 1240px) {
    width: calc((100%-706px) / 2);
    order: 3;
  }
}

.statistic {
  max-width: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 1;
  margin: 0 auto;
  @media (min-width: 768px) {
    order: 3;
  }
  @media (min-width: 1240px) {
    max-width: 620px;
    flex-wrap: wrap;
    justify-content: center;
    order: 2;
  }

  &__markup {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #2b7df7;
    color: #ffff;
    justify-content: center;
    margin: 5px;
    align-items: center;
    font-size: 10px;
    padding: 25px;
    border-top-left-radius: 100%;
    @media (min-width: 1240px) {
      width: 200px;
      height: 200px;
      font-size: 18px;
      padding: 62px;
    }
  }

  &__rest {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #2b7df7;
    color: #ffff;
    justify-content: center;
    margin: 5px;
    align-items: center;
    font-size: 10px;
    padding: 25px;
    border-top-right-radius: 100%;
    @media (min-width: 1240px) {
      width: 200px;
      height: 200px;
      font-size: 18px;
      padding: 62px;
    }
  }

  &__js {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #2b7df7;
    color: #ffff;
    justify-content: center;
    margin: 5px;
    align-items: center;
    font-size: 10px;
    padding: 25px;
    border-bottom-left-radius: 100%;
    @media (min-width: 1240px) {
      width: 200px;
      height: 200px;
      font-size: 18px;
      padding: 62px;
    }
  }

  &__framework {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #2b7df7;
    color: #ffff;
    justify-content: center;
    margin: 5px;
    align-items: center;
    font-size: 10px;
    padding: 25px;
    border-bottom-right-radius: 100%;
    @media (min-width: 1240px) {
      width: 200px;
      height: 200px;
      font-size: 18px;
      padding: 62px;
    }
  }
}


.check {
  display: flex;
  margin-top: 10px;
  @media (min-width: 768px) {
    flex-wrap: nowrap;
    margin-top: 50px;
  }
  @media (min-width: 1240px) {
    margin-top: 43px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__icon {
    background-image: url("../../img/check.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 28px;
    padding-right: 50px;
  }

  &__text {
    font-size: 10px;
    padding-top: 5px;
    @media (min-width: 1240px) {
      font-size: 16px;
  }
  }
}
